[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=bash -c "module load ansys_17.2_extlic; fluent"
Name=Fluent
Icon=/opt/ansys_19_2/v194/ansys/gui/en-us/images/ansyswb_32x32.png
Categories=Fluent2017;
Comment=Scientific computing environment
StartupNotify=true
