[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=bash -c "module load ansys_19.2_extlic; cfdpost"
Name=CFX Cfdpost
Icon=/opt/ansys_19_2/v194/ansys/gui/en-us/images/ansyswb_32x32.png
Categories=CFX2019;
Comment=Scientific computing environment
StartupNotify=true
